.container{
	padding-top: 10px;
	margin-top: 10px;
	border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 2px solid #000000;
}

/*.col-xs-6{
	padding-top: 10px;
	margin-top: 10px;
}*/